/* ===== Reset / Base ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.6;
  color: #ffffff;
  background-color: #11151C;
  overflow: auto;
}

/* Navigation */
nav {
  display: flex;
  justify-content: left;
  padding-left: clamp(20px, 4vw, 50px);
  padding-top: clamp(10px, 2vw, 23px);
  gap: clamp(15px, 4vw, 50px);
}

nav a {
  color: #ffd900;
  text-decoration: none;
  font-weight: 1000;

  font-size: clamp(12px, 1.2vw, 16px);
}

nav a:hover {
  color: #f54545;
}

main {
  position: relative;
  min-height: 100vh;
}

.hero {
  position: absolute;
  left: 8vw;
  top: 25vh;
}

#logo {
  position: absolute;
  top: 25px;
  right: 50px;
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-weight: 900;
}

#name {
  font-size: clamp(3rem, 5vw, 5rem);
  font-weight: 800;
  letter-spacing: 5px;
  line-height: 1;
}

#surname {
  font-size: clamp(5rem, 9vw, 8rem);
  font-weight: 900;
  line-height: .9;
}

#job {
  font-size: clamp(12px, 1vw, 18px);
  letter-spacing: 10px;
  font-weight: 400;
  margin-top: 10px;
}

.buttons {
  display: flex;
  gap: 20px;
  margin-top: 30px;
}

.buttons button {
  width: 130px;
  height: 40px;
  border: none;
  border-radius: 8px;
  background: #ffd900;
  font-weight: 700;
  cursor: pointer;
}

#description {
  position: absolute;
  right: 50px;
  bottom: 50px;
  max-width: 350px;
  text-align: right;
  font-size: clamp(10px, 1vw, 13px);
}

body::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none;
}