/* ===== Reset / Base ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Arial, sans-serif;
  line-height: 1.6;
  color: #ffffff;
  background-color: #214E34;
  overflow: auto;
}

/* ===== Header ===== */
header {
  background-color: #011638;
  color: rgb(0, 0, 0);
  padding: 20px 40px;
  text-align: center;
}

header h1 {
  font-size: 26px;
  margin-bottom: 10px;
  color: #ffffff;
}

/* Navigation */
nav {
  margin-top: 10px;
}

nav a {
  color: #ffffff;
  text-decoration: none;
  margin: 0 12px;
  font-weight: 500;
}

nav a:hover {
  color: #ffffff;
}

/* ===== Main Layout ===== */
main {
  max-width: 900px;
  margin: 40px auto;
  padding: 0 20px;
}

/* Headings */
h2 {
  color: #ffffff;
  margin-bottom: 10px;
}

/* Paragraph */
p {
  margin-bottom: 15px;
  color: #ffffff;
}

/* ===== Button ===== */
button {
  background-color: #fffb00;
  color: rgb(0, 0, 0);
  border: none;
  padding: 12px 18px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  transition: 0.2s ease;
}

button:hover {
  background-color: #00258b;
}

/* ===== Sections ===== */
section {
  background-color:#364156;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

/* ===== List ===== */
ul {
  padding-left: 20px;
  color: rgb(255, 255, 255);
}

li {
  margin-bottom: 8px;
}

/* ===== Footer ===== */
footer {
  text-align: center;
  padding: 20px;
  margin-top: 40px;
  background-color: #111827;
  color: #d1d5db;
  font-size: 14px;
}

/* Chrome, Edge, Safari */
body::-webkit-scrollbar {
  display: none;
}

/* Firefox */
html {
  scrollbar-width: none;
}